/* CSS syntax
 *	#div-id
 *	.class-name
 */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}
.csl-entry {
  padding-left: 22px;
  text-indent: -22px;
}
body {
  max-width: 960px;
  min-width: 960px;
  width: 960px;
  padding: 12px 20px 12px 20px;
  color: #000;
  background: #fff;
}

/* Typeface and Text Size */
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  line-height: 1.35em;
}
p { margin: 0px 0px 12px 0px; }
h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 15px 0;
}
h6 { /* h6 is special... */
  font-size: 1.7em;
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: 1px;
  color: #777;
  line-height: 0.60em;
  margin: 0px 0px 15px 0px;
}
h2, h3, h4, h5 { font-size: 1.1em; font-weight: bold; }
h2 { margin: 10px 0px 8px 0px }
h3, h4, h5 { margin: 0px; }
br.space { line-height: 0.25em; }

/* Hyperlinks */
a, a:visited, a:hover { color: #000; }
a.nav, a.nav:visited { color: #888; font-weight: normal; }
a:hover, a.nav:hover { color: #33f; }

/* Tables */
table, tr, td { margin: 0; padding: 0; }
td { padding: 0px 10px 0px 0px; }
tr.visited td { color: #888; }
tr.visited a { color: #888; }

/* Lists */
ul { margin: 0; padding: 5px 0px 7px 20px; }
li { margin-bottom: 2px; }

/* Page Layout */
#main { margin-left: 230px; }
#info { float: left; width: 210px; }
#info td { padding: 0px 0px 4px 0px; }
#info div { margin-top: 25px; }
#name {
  font-variant: small-caps;
  font-size: 1.5em;
  margin-top: -1px;
  letter-spacing: 0.065em;
}

/* IE6 work-around hack */
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html #vita .body {
  height: 1%;
  margin-left: 0;
}
* html #info {
  margin-right: 15px;
}
* html #main {
  width: 721px;
  height: 1%;
  margin-left: 0;
}
* html .entry {
  height: 65px;
}
/* End hide from IE5-mac */
