/* D3.js chart styles */
#largeChart, #sidebarChart {
    font: 10px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
/* Hex Color Codes : http://www.only-zuul.com/ahexcolor.htm */
/* Underconfidence */
.area.above {
    fill: url(#density-gradient-above);
}
/* Overconfidence */
.area.below {
    fill: url(#density-gradient-below);
}
.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}
.legend rect {
    fill: white;
    stroke: black;
    opacity: 0.8;
}
#chart-tooltip {
    position: absolute;
    z-index: 10;
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 2px 4px 2px 4px;
    font: 10px sans-serif;
}

