div.ui-tooltip {
    max-width: 400px;	/* Increase default jQueryUI tooltip size */
}
.confidence-slider {
    margin-bottom: 10px;
    margin-left:   40px;
    margin-right:  40px;
}
.options {
    margin-left:auto;
    margin-right:auto;
    width:20%;
    padding-bottom:40px;
}
.options a:hover {
    color:black;
}
.selected span {
    border: 1px solid black
}
.answers div {
    text-align:center;
}
.question {
    margin: 10px;
}
.questionContainer {
    width: 600px;
    border: 3px double #CFCFCF;
    padding: 3px;
    margin: 10px 10px 20px 10px;
}
.questionContainer a {
    float:right;
}
#next, #back {
    display:inline;
    border: 1px solid #000;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
    font-size: 10px;
    background: #FFF;
    cursor: pointer;
}
#back {
    margin-left:40%;
}
#next {
    margin-left:5%;
    display: none;
}
#feedbackContainer {
    border: 3px double #CFCFCF;
    width: 600px;
    height: 230px;
    margin: 20px 10px;
    padding: 3px;
}
#feedbackCanvas {
    width: 600px;
    height: 230px;
}
#progressContainer {
    width: 600px;
    height: 10px;
    border: 3px double #CFCFCF;
    margin: 20px 10px;
    padding: 3px;
}
#progress {
    background: #007BA7;	/* Cerulean */
    width: 0;
    height: 10px;
}
.radius {					/* adds a curvilinear border */
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}
.radius-large {				/* adds a curvilinear border */
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
}

#resultContainer {
    width: 600px;
    margin: 10px;
    padding: 3px;
    border: 3px double #CFCFCF;
}
#resultContainer div {
    line-height: 20px;
}
.totalScore {
    font-weight: bold;
}
input {
    position: relative;
    top: 2px;
}
.clear { clear: both; }
.hide { display: none; }
.disabled {
    color: grey;
}

/* D3.js chart styles */
#largeChart, #sidebarChart {
    font: 10px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
/* Hex Color Codes : http://www.only-zuul.com/ahexcolor.htm */
/* Underconfidence */
.area.above {
    fill: url(#density-gradient-above);
}
/* Overconfidence */
.area.below {
    fill: url(#density-gradient-below);
}
.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}
.legend rect {
    fill: white;
    stroke: black;
    opacity: 0.8;
}
#chart-tooltip {
    position: absolute;
    z-index: 10;
    opacity: 0.9;
    background-color: #FFFFFF;
    padding: 2px 4px 2px 4px;
    font: 10px sans-serif;
}



