div.ui-tooltip {
    max-width: 400px;	/* Increase default jQueryUI tooltip size */
}
.confidence-slider {
    margin-bottom: 10px;
    margin-left:   40px;
    margin-right:  40px;
}
.options {
    margin-left:auto;
    margin-right:auto;
    width:20%;
    padding-bottom:40px;
}
.options a:hover {
    color:black;
}
.selected span {
    border: 1px solid black
}
.answers div {
    text-align:center;
}
.question {
    margin: 10px;
}
.questionContainer {
    width: 600px;
    border: 3px double #CFCFCF;
    padding: 3px;
    margin: 10px 10px 20px 10px;
}
.questionContainer a {
    float:right;
}
#next, #back {
    display:inline;
    border: 1px solid #000;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
    font-size: 10px;
    background: #FFF;
    cursor: pointer;
}
#back {
    margin-left:40%;
}
#next {
    margin-left:5%;
    display: none;
}
#feedbackContainer {
    border: 3px double #CFCFCF;
    width: 600px;
    height: 230px;
    margin: 20px 10px;
    padding: 3px;
}
#feedbackCanvas {
    width: 600px;
    height: 230px;
}
#progressContainer {
    width: 600px;
    height: 10px;
    border: 3px double #CFCFCF;
    margin: 20px 10px;
    padding: 3px;
}
#progress {
    background: #007BA7;	/* Cerulean */
    width: 0;
    height: 10px;
}
.radius {					/* adds a curvilinear border */
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}
.radius-large {				/* adds a curvilinear border */
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
}

#resultContainer {
    width: 600px;
    margin: 10px;
    padding: 3px;
    border: 3px double #CFCFCF;
}
#resultContainer div {
    line-height: 20px;
}
.totalScore {
    font-weight: bold;
}
input {
    position: relative;
    top: 2px;
}
.clear { clear: both; }
.hide { display: none; }
.disabled {
    color: grey;
}


