div.ui-tooltip {
    max-width: 400px;	/* Increase default jQueryUI tooltip size */
}
.options {
    margin-left:auto;
    margin-right:auto;
    width:96%;
    padding-bottom:40px;
}
.options a:hover {
    color:black;
}
.selected span {
    border: 1px solid black
}
.answers div {
    text-align:center;
}

.question {
    margin: 10px;
}
.questionContainer {
    width: 800px;
    border: 3px double #CFCFCF;
    padding: 3px;
    margin: 10px 10px 20px 10px;
}
.questionContainer a {
    float:right;
}

#feedbackContainer {
    border: 3px double #CFCFCF;
    width: 800px;
    height: 350px;
    margin: 20px 10px;
    padding: 3px;
}

#confidenceChartContainer, #feedbackChartContainer {
    width:395px;
    height:350px;
    display:inline-block;
}

#progressContainer {
    width: 800px;
    height: 10px;
    border: 3px double #CFCFCF;
    margin: 20px 10px;
    padding: 3px;
}
#progress {
    background: #007BA7;	/* Cerulean */
    width: 0;
    height: 10px;
}
.radius {					/* adds a curvilinear border */
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}
.radius-large {				/* adds a curvilinear border */
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
}

#resultContainer {
    width: 600px;
    margin: 10px;
    padding: 3px;
    border: 3px double #CFCFCF;
}

#resultContainer div {
    line-height: 20px;
}

.totalScore {
    font-weight: bold;
}

input {
    position: relative;
    top: 2px;
}

.clear { clear: both; }

.hide { display: none; }
.disabled {
    color: grey;
}


