
.confidence-slider {
	margin-bottom: 10px;
	margin-left:   40px;
	margin-right:  40px;
}
.boolean {
	margin-left:auto;
	margin-right:auto;
	width:20%;
	padding-bottom:40px;
}
.boolean a:hover {
	color:black;
}
.selected span {
	border: 1px solid black
}
.answers div {
	text-align:center;
}
.question {
	margin: 10px;
}
.questionContainer {
    width: 600px;
    border: 3px double #CFCFCF;
    padding: 3px;
    margin: 10px;
}
.questionContainer a {
	float:right;
}
.buttonContainer a {
    border: 1px solid #000;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 10px;
    background: #FFF;
    cursor: pointer;
}
.buttonContainer {
    width: 45%;
    margin: 10px 0px 10px 2%;
}
#feedbackContainer {
    width: 600px;
    height: 230px;
    border: 3px double #CFCFCF;
    margin: 0px 10px;
    padding: 3px;
}
#feedbackCanvas {
}

#progressContainer {
    width: 600px;
    height: 25px;
    border: 3px double #CFCFCF;
    margin: 0px 10px;
    padding: 3px;
}
#progress {
    background: #007BA7; /* Cerulean */
    width: 0;
    height: 25px;
}
.radius {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}
#resultContainer {
    width: 600px;
    margin: 10px;
    padding: 3px;
    border: 3px double #CFCFCF;
}
#resultContainer div {
    line-height: 20px;
}
.totalScore {
    font-weight: bold;
}
input {
    position: relative;
    top: 2px;
}
.prev { float: left; }
.next, .finish { float: right; }
.clear { clear: both; }
.hide { display: none; }
.disabled {
  color: grey;
}
